node_modules

!node_modules/three/build/three.js
!node_modules/paper/dist/paper-full.min.js
!node_modules/file-saver/FileSaver.min.js
!node_modules/jquery/dist/jquery.min.js
!node_modules/socket.io-client/dist/socket.io.slim.js

.DS_Store
*.sublime-workspace