:root {
  --main-bg-color: rgba(0, 0, 0, 0.01);
}

body {
	background-color: #090909;
	overflow: hidden;
	margin: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 2px;
	display: grid;
	/*grid-template-columns: auto 325px;*/
	grid-template-columns: auto 325px 325px;
	grid-template-rows: 100%;
/*	display: flex;
	flex-direction: row;
	align-items: stretch;
	align-content: stretch;*/
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.dg .close-button {
	display: none;
}

.dg {
	overflow-y: auto;
}

.dg.main {
	height: 100%;
}

.function span.property-name {
    width: 100%;
}

.boolean span.property-name {
    width: 80%;
}
.boolean div.c {
    width: 20%;
}

#main {
	/*display: grid;*/
	/*grid-template-rows: auto 250px;*/
	/*grid-template-columns: 100%;*/
}

#canvas {
	overflow: hidden;
}

#canvas.grab {
	cursor: -webkit-grab; 
	cursor: grab;
}

.checkered {
  background-color: #FFF;
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  background-image: linear-gradient(45deg, var(--main-bg-color) 25%, transparent 25%, transparent 75%, var(--main-bg-color) 75%, var(--main-bg-color)),
                    linear-gradient(45deg, var(--main-bg-color) 25%, transparent 25%, transparent 75%, var(--main-bg-color) 75%, var(--main-bg-color));  
}

#gui {
	/*display: flex;*/

}

#command-list {
	max-height: 500px;
}

#info {
	display: flex;
    flex-direction: column;
}

#info ul.closed .c-list {
     display: none;
}

#info > .main > ul > li {
	display: flex;
    flex-direction: column;
}

#console-list, #command-list {
	overflow-y: auto;
}

#console-list {
    max-height: 200px;
}

#info .dg.main > ul {
	display: flex;
	flex-direction: column;
}

#info ul::-webkit-scrollbar {
  width: 5px;
  background: #1a1a1a;
}
#info ul::-webkit-scrollbar-corner {
  height: 0;
  display: none;
}
#info ul::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #676767;
}

#info ul.c-list > li {
    padding-right: 38px;
    position: relative;
    height: inherit;
}

#command-list li button {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;

    cursor: pointer;
    border-radius: 0;
    border: none;
    width: 22px;
}

#command-list li button:hover {
	background-color: #ff6060;
}

#command-list li .data {
	font-style: italic;
	margin-top: 4px;
}

#console-list li p, #console div table {
	padding: 0;
	margin: 0;
    height: inherit;
}

#console-list li p.error {
	color: #ff3939;
}

table {
	border-collapse: collapse;
}

icon.websocket, icon.serial {
	float: right;
	color: #f44336;
    margin-right: 5px;
}

icon.connected {
	color: #3cba00;
}

icon.simulator {
	color: #ffeb3b;
}

#loading {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: black;
	opacity: 0;
    z-index: 9999999;

  	transition: opacity 1s;
  	-webkit-transition: opacity 1s;
  	pointer-events: none;
}

#loading.hidden {
	display: none;
}

#loading.loading {
	opacity: 0.8;
}
/* Loading Animation - double bounce */

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;


	display: block;
	position: absolute;
	top: 50%;
	left: 50%;

	width: 64px;
	height: 64px;
	margin: auto;

	transform: translateX(-50%) translateY(-50%);
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ccc;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


/* Loading Animation - lds-ripple */

.lds-ripple {

	display: block;
	position: absolute;
	top: 50%;
	left: 50%;

	width: 64px;
	height: 64px;
	margin: auto;

	transform: translateX(-50%) translateY(-50%);
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
